@media only screen and (min-width: 768px) {
	/* DESKTOP */
	
	.clientsDesktop {
		width: 80%;
		margin-left: 10%;
		margin-top: 2vmin;
	}
	 
	
	.clientoptions{
		text-align: center;
		margin-top: 1vmin;
		font-weight: 900;
		font-size: 2.5vmin;
	}
	
	.clientoption{
		font-size: 2vmin;
		padding-left: 4vmin;
		padding-right: 4vmin;
		vertical-align: middle;
	}
	
	.clientimage{
		aspect-ratio: 1/1;
		height: 6vmin;
		width: auto;
		vertical-align: middle;
		border-radius: 100px;
	}
	
	.viewAdjust{
		font-size: 2vmin;
		font-weight: 500;
	}
	
	
}


@media only screen and (max-width: 767px) {
	/* MOBILE */
	
	.viewAdjust{
		padding-top: 4vmin; 
		font-weight: 500;
	}
	
	.clientoptions{
		text-align: center;
		margin-top: 3vmin;
		font-weight: 900;
		font-size: 5vmin;
	}
	
	.clientoption{
		font-size: 4vmin;
		padding-left: 4vmin;
		padding-right: 4vmin;
		vertical-align: middle;
	}
	
	.clientimage{
		aspect-ratio: 1/1;
		height: 12vmin;
		width: auto;
		vertical-align: middle;
		border-radius: 100px;
	}
	
	.negativeAdjust{
		 margin-top: -8vmin;
	}
}




.menuItemSelected{
	font-weight: bold;
	text-decoration: underline;
}


.tealcolor{
	color: var(--teal) !important;
}