@media only screen and (min-width: 768px) {
	/* DESKTOP */
	.previewCard{
		width: 40%;
		margin-left: 30%;
		margin-top: 5vmin;
		padding: 3vmin;
		font-weight: 900;
		color: black;
	}
	
	.previewProfileImage{
		width: 26%;
		margin-left: 37%;
		aspect-ratio: 1/1;
		border-radius: 200px;
		border-color: white;
		border-style: solid;
		border-width: thick;
		margin-top: 5vmin;
	}
	
	
	.undertext2 {
		text-align: center;
		font-family: 'Montserrat';
		font-size: 4vmin;
		font-weight: 900;
		color: black;
	}
	
	.offerbutton{
		border: none;
		width: 50%;
		margin-left: 25%;
	}
	
	
	.srheader{
		font-size: 3vmin;
		color: black;
	}
	
}

@media only screen and (max-width: 767px) {
	/* MOBILE */
	
	.previewCard{
		width: 90%;
		margin-left: 5%;
		margin-top: 5vmin;
		padding: 3vmin;
		font-weight: 900;
		color: black;
	}
	
	.previewProfileImage{
		width: 40%;
		margin-left: 30%;
		aspect-ratio: 1/1;
		border-radius: 200px;
		border-color: white;
		border-style: solid;
		border-width: thick;
		margin-top: 5vmin;
	}

	
	.undertext2 {
		text-align: center;
		font-family: 'Montserrat';
		font-size: 6vmin;
		font-weight: 900;
		color: black;
	}
	
	.offerbutton{
		border: none;
		width: 80%;
		margin-left: 10%;
	}
	
	
	.srheader{
		font-size: 4vmin;
		color: black;
	}

}








.offeroverlay{
	text-align: left !important;
}