@media only screen and (min-width: 768px) {
	/* DESKTOP */
	
	.promptA {
		margin-top: 10vmin;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 6.5vmin;
		font-weight: 900;
		line-height: 8vmin;
	}
	
	
	.underprompt {
		text-align: center;
		font-family: 'Montserrat';
		font-size: 3vmin;
		font-weight: 300;
		line-height: 5vmin;
	}
	
	.loginDesktop{
		width: 50%;
		margin-left: 25%;
	}
	
	.create {
		width: 40%;
		margin-left: 30%;
		margin-top: 4vmin;
		height: 7vmin;
		font-size: 3vmin;
		background-color: white;
		border-color: var(--teal);
	}
	
	.popup{
		padding-bottom: 5vmin !important;
		margin-top: 10%;
		width: 20%;
		margin-left: 40%;
		background-color: white;
		padding: 2vmin;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 3vmin;
		border-radius: 5px;
	}
	
	.closePopup{
		 font-size: 3vmin;
	}
}


@media only screen and (max-width: 767px) {
	/* MOBILE */
	
	.promptA {
		margin-top: 20vmin;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 8.5vmin;
		font-weight: 900;
		line-height: 10vmin;
	}
	
	
	.underprompt {
		text-align: center;
		font-family: 'Montserrat';
		font-size: 4vmin;
		font-weight: 300;
		line-height: 10vmin;
	}
	
	.create {
		width: 90vmin;
		margin-left: 5vmin;
		margin-top: 4vmin;
		background-color: white;
		border-color: var(--teal);
	}
	
	.popup{
		padding-bottom: 10vmin !important;
		margin-top: 60%;
		width: 70%;
		margin-left: 15%;
		background-color: white;
		padding: 4vmin;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 4vmin;
		border-radius: 5px;
	}
	
	.closePopup{
		 font-size: 8vmin;
	}
}




.boxpad {
	padding-bottom: 1vmin !important;
	padding: 0vmin;
}


.hidden{
	visibility: hidden;
}

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.15);
	top: 0;
	z-index: 1;
}


.showError{
	font-size: 3vmin;
	text-align: center;
	font-family: 'Montserrat';
	color: red;
}
